* {
  margin: 0;
  padding: 0;
  font-family:
    "メイリオ", Meiryo,
    "ヒラギノ角ゴ Pro W3",
    "HIragino Kaku Gothic Pro W3",
    "HIragino Kaku Gothic Pro",
    Osaka,
    "ＭＳ Ｐゴシック", "MS P Gothic",
    sans-serif;
}
body{
  min-width: 320px;
  max-width: 375px;
}

#content{
  margin: 20 0 30px 20px;
  width: 100%;
  text-align: center;
}

#footer{
  margin-top: 40px;
  padding-bottom: 15px;
  background-color: #4a4a4a;
  color: #f4f4f4;
  text-align: center;
}

.title_var{
  background-image: url('../img/title-var.png');
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 0 20px;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.p_dan{
  text-align: center;
  font-size: 1.7em;
  margin: 0 7px 10px;
}
.p_choise{
  margin: 0 20px 10px;
}

/* result */
.twitter_icon{
  margin: 0 auto 10px;
  display: block;
}
.tweet_list{
  margin-top: 15px;
}
.tweet_list li{
  
}
.tweet_list li a{
  background-image: url('../img/list.png');
  background-repeat: no-repeat;
  height:56.5px;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: left;
  word-wrap: break-word;
  word-break: break-all;
  display: block;
  padding-right: 65px;
}
.tweet_list li a:hover{
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
}
.tweet_list li a:link{
  color: #333333;
}
.tweet_list li a:visited{
  color: #333333;
}
.tweet_list li a:hover{
  color: #333333;
}
.tweet_list li a:active{
  color: #333333;
}
