* {
  margin: 0;
  padding: 0;
  font-family:
    "メイリオ", Meiryo,
    "ヒラギノ角ゴ Pro W3",
    "HIragino Kaku Gothic Pro W3",
    "HIragino Kaku Gothic Pro",
    Osaka,
    "ＭＳ Ｐゴシック", "MS P Gothic",
    sans-serif;
}

#content{
  margin: 20 0 30px 20px;
  width: 100%;
  text-align: center;
}

#footer{
  margin-top: 40px;
  padding-bottom: 15px;
  background-color: #4a4a4a;
  color: #f4f4f4;
  text-align: center;
}

.title_var{
  background-image: url('../img/title-var.png');
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 0 20px;
}

.p_dan{
  text-align: center;
  font-size: 1.7em;
  margin: 0 7px 10px;
}
.p_choise{
  margin: 0 20px 10px;
}

/* result */
.twitter_icon{
  margin: 0 auto 10px;
  display: block;
}
.tweet_list{
  margin-top: 15px;
}
.tweet_list li{
  background-image: url('../img/list.png');
  background-repeat: no-repeat;
  padding-right: 55px;
  height:56.5px;
}