<p class="p_dan">みんなで幸せになろう！</p>
<p class="p_choise">このアプリでは今最高に幸せな友達、一番落ち込んでいるt友達がわかります。ハッピーな友達からは幸せを分けてもらいましょう！落ち込んでいる友達には幸せを分けて挙げましょう！</p>

<div id="content">
   <%= link_to image_tag('/img/do-happy.png', {}), home_pos_rank_path %>
   <%= link_to image_tag('/img/do-unhappy.png', {}), home_neg_rank_path %>
</div>
