<p class="p_choise">このアプリでは今最高に幸せな友達、一番落ち込んでいる友達がわかります。ハッピーな友達からは幸せを分けてもらいましょう！落ち込んでいる友達には幸せを分けて挙げましょう！</p>

<p class="p_dan">まずはTwitterで<br>ログインしましょう</p>

<div id="content">
  <%= link_to image_tag('/img/twitter-login.png', {}), '/auth/twitter' %>
</div>
