<p class="p_choise">ハッピーな友達からハッピーを分けてもらうか、不幸な友達にハッピーを分けてもらうか、選びましょう。</p>
<p class="p_dan">まずはTwitterでログインしましょう。</p>

<div id="content">
  <a href="./twitter_login"><img src="/img/twitter-login.png"></a>
    <%= link_to image_tag('/img/twitter-login.png', {}), '/auth/twitter' %>
</div>
