<p class="p_dan">あなたがこれから合うべき友達はこの人です。</p>
<img src="<%= @best_positive_user.img_url %>" width="150px" class="twitter_icon">

<!- ポジの時 -->
<p class="p_choise">この友達と遊んでいっぱいハッピーを分けてもらいましょう！</p>

<div id="content">
  <ul class="tweet_list">
    <li>これはツイートの本文です。これはツイートの本文です。これはツイートの本文です。</span>
    <li>これはツイートの本文です。これはツイートの本文です。
  </ul>
</div>