<p class="p_dan">あなたがこれから合うべき友達はこの人です。</p>
<img src="<%= @best_positive_user.img_url %>" width="150px" class="twitter_icon">

<!- ポジの時 -->
<p class="p_choise">この友達と遊んでいっぱいハッピーを分けてもらいましょう！</p>

<div id="content">
  <ul class="tweet_list">
    <% if @best_positive_user.tweet1 %>
      <li><%= link_to @best_positive_user.tweet1, @best_positive_user.tweet1_link %></li>
    <% end %>
    <% if @best_positive_user.tweet2 %>
      <li><%= link_to @best_positive_user.tweet2, @best_positive_user.tweet2_link %></li>
    <% end %>
  </ul>
</div>
